[Unit]
Description=openbank Bondster Marketplace Connection services namespace
After=inetd.service
ConditionPathExists=/etc/init/bondster-bco.conf

[Service]
Type=oneshot
ExecStart=/bin/echo start bondster-bco namespace
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
