Package: bondster-bco
Version: 1.2.10+progress-logging
Section: misc
Priority: extra
Architecture: amd64
Vcs-Git: https://github.com/jancajthaml-openbank/bondster-bco.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: libzmq5 (>= 4.2.1~), openssl (>= 1.1~), libc6
Description: bondster marketplace connector for openbank
 Service managing Bondster Marketplace tokens and synchronizing its transactions.
