[Unit]
Description=openbank Bondster Marketplace connection configuration watcher
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=echo 'restarting bondster-bco (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart bondster-bco.service'

[Install]
WantedBy=bondster-bco.service